<log4net>
    <logger name="DefaultLogger">
        <level value="ALL" />    
        <appender-ref ref="RedisStreamAppender" />
    </logger>
    
    <appender
            name="RedisStreamAppender"
            type="Log4Net.RedisStream.RedisStreamAppender, Log4Net.RedisStream">
            <!-- required parameters -->
            <RedisConnectionString value="10.10.1.99:32768" />
            <RedisStreamName value="App1LoggingStream" />
            <!-- optional parameters -->
            <RedisStreamMessageField value="message" />
            <threshold value="INFO" />
            <!-- layout -->
            <!-- optionally use Log4Net.RedisStream.JsonLayout for json serialized output -->
            <!-- <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%5level - %message%newline" />
            </layout>-->
            <layout type="Log4Net.RedisStream.JsonLayout, Log4Net.RedisStream" />
    </appender>
</log4net>
	