<log4net>
    <logger name="DefaultLogger">
        <level value="ALL" />    
        <appender-ref ref="RedisStreamAppender" />
    </logger>
    
    <appender
            name="RedisStreamAppender"
            type="Log4Net.RedisStream.RedisStreamAppender, Log4Net.RedisStream">
            <!-- required parameters -->
            <RedisConnectionString value="redis:6379" />
            <RedisStreamName value="ExampleAppStream" />
            <!-- optional parameters -->
            <RedisStreamMessageField value="message" />
            <threshold value="INFO" />
            <!-- layout -->
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
    </appender>
</log4net>
	